/* TEAM */
Developer: Sam Vendittelli
Site: https://vendittelli.co.uk/
GitHub: https://github.com/SVendittelli/
Location: Maidenhead, UK

/* SITE */
Last update: %NOW%
Language: English
Components: Nx, React, Terraform, AWS
Software: Visual Studio Code, GitHub

/* What is this file? See here: https://humanstxt.org/ */
